body{
    margin: 0;
    /*background: rgb(233, 233, 233);*/
    font-family: sans-serif;
    background-image: url("img/sky.jpg");
    background-size: cover;
}
#main{
    margin: 0;
    /*background: rgb(233, 233, 233);*/
    font-family: sans-serif;
    background-image: url("img/sunset.jpg");
    background-size: cover;
}
/* Navigation bar */
#topbar{
    background-color: #00203e;
    padding: 14px 16px;
    height: 3rem;
}
#topbar a{
    text-decoration: none;
    color:white;
    font-size: 2rem;
    text-align: center;
    margin-left: 2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
    margin-top: 4rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.sticky + .content {
    padding-top: 60px;
}

/* Input */
.big{
    height: 30px;
    box-sizing: border-box;
}

.weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 50px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: rgb(0, 170, 166);
    color: #ffffff;
  }

/* Table */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #00203e;
    color: white;
  }
td, th {
    border: 3px solid black;
    padding: 8px;
  }
tr {
    text-align: left;
}
/* Home */
.home {
    background-color: rgb(207, 207, 207,0.8);
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    position: relative;
}
/* Add */
.add {
    background-color: rgb(207, 207, 207,0.8);
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
}
/* Update */
.update {
    background-color: rgb(207, 207, 207,0.8);
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
}
/* Select */
.select {
    background-color: rgb(207, 207, 207,0.8);
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
}
/* Browse */
.browse {
    background-color: rgb(207, 207, 207,0.8);
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
}
input[type=submit] {
    background-color: rgb(0, 170, 166);
    color: white;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}