body{
    margin: 0;
    background: rgb(233, 233, 233);
    font-family: sans-serif;
}
/* Navigation bar */
#topbar{
    background: linear-gradient(90deg, #36d1dc, #5b86e5);
    padding: 14px 16px;
    height: 3rem;
}
#topbar a{
    text-decoration: none;
    color:white;
    font-size: 2rem;
    text-align: center;
    margin-left: 2rem;
}
#topbar a:hover {
    color: blue;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}

/* Input */
.big{
    height: 30px;
    box-sizing: border-box;
}

.weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 50px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #36d1dc;
    color: #ffffff;
  }